---
import ButtonArea from '../components/ButtonArea.astro';
import Header from '../components/Header.astro';
import SocialMedia from '../components/SocialMedia.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Casa Sonia">
  <div class="h-5/6 md:w-1/2 mx-auto mt-12 rounded-xl p-1 background w-5/6">
    <div class="h-full w-full rounded-xl border-2 border-white">
      <Header>Casa Sonia</Header>
      <main>
        <ButtonArea />
        <SocialMedia />
      </main>
    </div>
  </div>
</Layout>

<style>
  .background {
    background-color: #282828;
  }
</style>
