---

---

<div class="flex flex-col items-center justify-center gap-10 mt-5 md:mx-auto">
  <a
    href="https://casasoniaprecios.netlify.app"
    class="bg-white flex items-center justify-center text-md rounded-3xl border w-5/6 h-14 hover:bg-transparent hover:text-white"
    >Precios</a
  >
  <a
    href="https://forms.gle/YXaXpa6tGv9tpEyF9"
    class="bg-white flex items-center justify-center text-md rounded-3xl border w-5/6 h-14 hover:bg-transparent hover:text-white"
    >Encuesta de satisfaccion</a
  >
  <a
    href="https://forms.gle/k6BKody3TpP3NQxMA"
    class="bg-white flex items-center justify-center text-md rounded-3xl border w-5/6 h-14 hover:bg-transparent hover:text-white"
    >Adherite al club Casa Sonia</a
  >
</div>

<style></style>
